<a href="https://colab.research.google.com/github/Susanna-Salata/export_import/blob/main/Export_Import_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [102]:
!pip install pandas openpyxl pyxlsb

Requirement already satisfied: pandas in c:\users\susan\appdata\local\programs\python\python39\lib\site-packages (1.4.3)
Requirement already satisfied: openpyxl in c:\users\susan\appdata\local\programs\python\python39\lib\site-packages (3.0.10)
Collecting pyxlsb
  Downloading pyxlsb-1.0.10-py2.py3-none-any.whl (23 kB)
Requirement already satisfied: pytz>=2020.1 in c:\users\susan\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.18.5 in c:\users\susan\appdata\local\programs\python\python39\lib\site-packages (from pandas) (1.23.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\susan\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: et-xmlfile in c:\users\susan\appdata\local\programs\python\python39\lib\site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: six>=1.5 in c:\users\susan\appdata\local\programs\python\python39\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pyxlsb
Successfully installed pyxlsb-1.0.10

WARNING: You are using pip version 22.0.4; however, version 22.3.1 is available.
You should consider upgrading via the 'C:\Users\susan\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

In [84]:
import pandas as pd
import numpy as np
import glob
from datetime import datetime

# Export

In [120]:
data_path = "D:/projects/export_import/data/"
folder = "export/"

In [121]:
file_list = glob.glob(data_path + folder + "/*/*")
file_list

['D:/projects/export_import/data/export\\2022\\export-01-2022.xlsx',
 'D:/projects/export_import/data/export\\2022\\export-02-2022.xlsx',
 'D:/projects/export_import/data/export\\2022\\export-03-2022.xlsx',
 'D:/projects/export_import/data/export\\2022\\export-04-2022.xlsx',
 'D:/projects/export_import/data/export\\2022\\export-05-2022.xlsx',
 'D:/projects/export_import/data/export\\2022\\export-06-2022.xlsx',
 'D:/projects/export_import/data/export\\2022\\export-07-2022.xlsx',
 'D:/projects/export_import/data/export\\2022\\export-08-2022.xlsb',
 'D:/projects/export_import/data/export\\2022\\export-09-2022.xlsx',
 'D:/projects/export_import/data/export\\2022\\export-10-2022.xlsx',
 'D:/projects/export_import/data/export\\2022\\export-11-2022.xlsx']

In [122]:
df = pd.DataFrame()
for file_path in file_list[0:2]:
    df_temp = pd.read_excel(file_path, sheet_name=0, 
                   dtype=str,
                   names=["date", "custom_id", "doc_id", "row_id", "code", "discription", "custom", 
                          "edrpou_seller", "seller", "edrpou_ukr", "ukr_side", 
                          "country", "buyer", "buyer_2", "base", 
                          "transport_ukr", "transport_custom", "units", "amount",
                          "weight", "doc_price_usd", "custom_price_usd", 
                          "doc_type", "regime"],
                   header=None,
                   skiprows=1)
    df = pd.concat([df, df_temp], axis=0)

In [123]:
df.shape

(359533, 24)

In [125]:
#df["row_id"] = df["row_id"].astype(int)
#df["base"] = df["base"].astype(int)

df["amount"] = df["amount"].astype(float)
df["weight"] = df["weight"].astype(float)
df["doc_price_usd"] = df["doc_price_usd"].astype(float)
df["custom_price_usd"] = df["custom_price_usd"].astype(float)

In [126]:
df[df["base"] == ' 66690173, 68685940, 68789940']

Empty DataFrame
Columns: [date, custom_id, doc_id, row_id, code, discription, custom, edrpou_seller, seller, edrpou_ukr, ukr_side, country, buyer, buyer_2, base, transport_ukr, transport_custom, units, amount, weight, doc_price_usd, custom_price_usd, doc_type, regime]
Index: []

[0 rows x 24 columns]

In [127]:
df["date"] = df["date"].str[0:10]
df["date"]

0         2022-01-01
1         2022-01-01
2         2022-01-01
3         2022-01-01
4         2022-01-01
             ...
184979    30.02.2022
184980    30.02.2022
184981    30.02.2022
184982    30.02.2022
184983    30.02.2022
Name: date, Length: 359533, dtype: object

In [128]:
#df.dtypes=[str, str, str, str, int, str, str, str, str, str, str, str, str, str, str, int, str, str, str, int, float, float, float, str, str]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 359533 entries, 0 to 184983
Data columns (total 24 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   date              359533 non-null  object
 1   custom_id         359533 non-null  object
 2   doc_id            359533 non-null  object
 3   row_id            359533 non-null  object
 4   code              359533 non-null  object
 5   discription       359533 non-null  object
 6   custom            359533 non-null  object
 7   edrpou_seller     359533 non-null  object
 8   seller            359533 non-null  object
 9   edrpou_ukr        359533 non-null  object
 10  ukr_side          359533 non-null  object
 11  country           359533 non-null  object
 12  buyer             347024 non-null  object
 13  buyer_2           81268 non-null   object
 14  base              359533 non-null  object
 15  transport_ukr     359533 non-null  object
 16  transport_custom  359533 non-null  object
 17  units             359533 non-null  object
 18  amount            359533 non-null  float64
 19  weight            359533 non-null  float64
 20  doc_price_usd     359533 non-null  float64
 21  custom_price_usd  359533 non-null  float64
 22  doc_type          359533 non-null  object
 23  regime            359533 non-null  object
dtypes: float64(4), object(20)
memory usage: 68.6+ MB

In [129]:
df["amount"].nunique()
df["amount"].astype(float)

0           0.0
1           0.0
2           0.0
3         240.0
4         120.0
          ...
184979      0.0
184980      0.0
184981      0.0
184982      0.0
184983      0.0
Name: amount, Length: 359533, dtype: float64

In [130]:
df["base"].unique()
#df[df["base"] == "0"]
df["base"].value_counts()

0                       43471
CPT MD CHISINAU         25466
FCA UA КИЇВ             10356
FCA UA KYIV              5070
FCA UA ОДЕСА             4987
                        ...
CPT CH ARZIER               1
CPT FI ESPOO FINLAND        1
CPT AE ABU DHABI UAE        1
DAP PL ГДИНЯ                1
CPT AZ СТ СУМГАИТ           1
Name: base, Length: 16868, dtype: int64

In [131]:
df.head(1)

,date,custom_id,doc_id,row_id,code,discription,custom,edrpou_seller,seller,edrpou_ukr,...,base,transport_ukr,transport_custom,units,amount,weight,doc_price_usd,custom_price_usd,doc_type,regime
0,2022-01-01,UA100020,546681,1,209101900,"СВИНЯЧИЙ ЖИР, ЯКИЙ ВІДОКРЕМЛЕНИЙ ВІД ПІСНОГО М...",КИЇВСЬКА МИТНИЦЯ,40853445,ТОВ ДИМНЕ М ЯСО ВІД ТАРАСА 01042 М КИЇВ ВУЛ ЧИ...,40853445,...,0,НЕВІДОМИЙ,ВАНТАЖНИЙ АВТОМОБІЛЬ,КГ,0.0,3.75,33.31,30.0,АА,ЕХ 72 00

In [132]:
#df.iloc[0]

In [133]:
df.shape

(359533, 24)

In [134]:
code_path = "D:/projects/export_import/data/codes/euro_codes.csv"

In [135]:
df_codes = pd.read_csv(code_path, dtype=str)
df_codes

    codes
0    2401
1    2402
2    2403
3    0901
4    0902
..    ...
99   8215
100  3105
101  3405
102  9503
103  9504

[104 rows x 1 columns]

In [150]:
df["codes"] = df["code"]
#df.head(2)

In [137]:
codes = df.iloc[:,4].unique()
codes

array(['209101900', '209101100', '2201101100', ..., '7304599990',
       '3823130000', '2853901000'], dtype=object)

In [138]:
# Перебираємо коди із списку обраних і знаходимо відповідності в базі кодів
any([codes[0].startswith(c) for c in df_codes.codes])

False

In [139]:
df["use_code"] = df.codes.map(lambda x: any([x.startswith(c) for c in df_codes.codes]))
#df[df["use_code"]]

In [140]:
# Загружаємо дані про курси валют
data_path + "Kurs_dovid.csv"

'D:/projects/export_import/data/Kurs_dovid.csv'

In [141]:
df_rates = pd.read_csv(data_path + "Kurs_dovid.csv")
df_rates

           date     rate
0    01.01.2022  27.2984
1    02.01.2022  27.2984
2    03.01.2022  27.2984
3    04.01.2022  27.2984
4    05.01.2022  27.4507
..          ...      ...
360  27.12.2022  36.5686
361  28.12.2022  36.5686
362  29.12.2022  36.5686
363  30.12.2022  36.5686
364  31.12.2022  36.5686

[365 rows x 2 columns]

In [142]:
# Конвертуємо дату в таблиці курсів валют у формат відповідний до основного дата фрейму
df_rates["date"] = df_rates["date"].map(lambda x: datetime.strptime(x, "%d.%m.%Y").strftime("%Y-%m-%d"))
df_rates.head()

         date     rate
0  2022-01-01  27.2984
1  2022-01-02  27.2984
2  2022-01-03  27.2984
3  2022-01-04  27.2984
4  2022-01-05  27.4507

In [149]:
# Об"єднуємо дата фрейми
df = pd.merge(df, df_rates, on="date", how="left")
#df.head(2)

In [144]:
# Конвертуємо в грн по курсу НБУ
df["custom_price_uah"] = round(df["custom_price_usd"]*df["rate"], 2)
df["doc_price_uah"] = round(df["doc_price_usd"]*df["rate"], 2)

In [148]:
#df.head(2)

In [147]:
df.sample(n=100).to_csv(path_or_buf=data_path + "export_sample.csv", header=True, sep=",", index=False)

# Import

In [104]:
#folder = "import/"
file_list = glob.glob(data_path + folder + "/*/*")
file_list

['D:/projects/export_import/data/import\\2022\\import 01-2022.xlsb',
 'D:/projects/export_import/data/import\\2022\\import 02-2022.xlsx',
 'D:/projects/export_import/data/import\\2022\\import 03-2022.xlsx',
 'D:/projects/export_import/data/import\\2022\\import 04-2022.xlsx',
 'D:/projects/export_import/data/import\\2022\\import 05-2022.xlsx',
 'D:/projects/export_import/data/import\\2022\\import 06-2022.xlsb',
 'D:/projects/export_import/data/import\\2022\\import 07-2022.xlsb',
 'D:/projects/export_import/data/import\\2022\\import 08-2022.xlsb',
 'D:/projects/export_import/data/import\\2022\\import 09-2022.xlsx',
 'D:/projects/export_import/data/import\\2022\\import 10-2022.xlsx',
 'D:/projects/export_import/data/import\\2022\\import 11-2022.xlsx',
 'D:/projects/export_import/data/import\\2022\\~$import 01-2022.xlsb']

In [ ]:
df_i = pd.DataFrame()
for file_path in file_list:
    df_temp = pd.read_excel(file_path, sheet_name=0, 
                   dtype=str,
                   names=["date", "custom_id", "doc_id", "row_id", "code", "discription", "custom", 
                          "edrpou_seller", "seller", "edrpou_ukr", "ukr_side", 
                          "country", "buyer", "buyer_2", "base", 
                          "transport_ukr", "transport_custom", "units", "amount",
                          "weight", "doc_price_usd", "custom_price_usd", 
                          "doc_type", "regime"],
                   header=None,
                   skiprows=1)
    df_i = pd.concat([df_i, df_temp], axis=0)