<a href="https://colab.research.google.com/github/Susanna-Salata/export_import/blob/main/Export_Import_2022_v2_ipynb%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pandas openpyxl pyxlsb

Requirement already satisfied: pandas in c:\users\susan\appdata\local\programs\python\python39\lib\site-packages (1.4.3)
Requirement already satisfied: openpyxl in c:\users\susan\appdata\local\programs\python\python39\lib\site-packages (3.0.10)
Requirement already satisfied: pyxlsb in c:\users\susan\appdata\local\programs\python\python39\lib\site-packages (1.0.10)
Requirement already satisfied: pytz>=2020.1 in c:\users\susan\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\susan\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\susan\appdata\local\programs\python\python39\lib\site-packages (from pandas) (1.23.1)
Requirement already satisfied: et-xmlfile in c:\users\susan\appdata\local\programs\python\python39\lib\site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: six>=1.5 in c:\users\susan\appdata\local\programs\python\python39\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd
import numpy as np
import glob
from datetime import datetime

# Read raw data

In [3]:
data_path = "D:/projects/export_import/data/v2/"
year_path = '2022'

In [4]:
file_list = glob.glob(data_path + year_path + "/*")
file_list

['D:/projects/export_import/data/v2/2022\\01.xlsb',
 'D:/projects/export_import/data/v2/2022\\02.xlsx',
 'D:/projects/export_import/data/v2/2022\\03.xlsx',
 'D:/projects/export_import/data/v2/2022\\04.xlsx',
 'D:/projects/export_import/data/v2/2022\\05.xlsx',
 'D:/projects/export_import/data/v2/2022\\06.xlsx',
 'D:/projects/export_import/data/v2/2022\\07.xlsx',
 'D:/projects/export_import/data/v2/2022\\08.xlsx',
 'D:/projects/export_import/data/v2/2022\\09.xlsx',
 'D:/projects/export_import/data/v2/2022\\10.xlsx',
 'D:/projects/export_import/data/v2/2022\\11.xlsx',
 'D:/projects/export_import/data/v2/2022\\12.xlsx']

In [5]:
# the collection to store all months
col_names = ['Column1', 'Системный номер', 'Тип ВМД', 'Митниця', 'Відправник',
       'Відправник 2', 'ОКПЕО Одержувач', 'Одержувач', 'Адресa Одержувача',
       'ОКПЕО Декларанта', 'Декларант', 'Адресa Декларанта', 'Підрозділ',
       '№ ВМД', '№ товару', 'Дата оформлення', 'Код товару', 'ТМ',
       'Опис товару', 'РМВ, USD/1кг', 'Країна походження', 'Вага брутто, кг',
       'Вага нетто, кг', 'Умови поставки', 'Кількість в додаткових одиницях',
       'Код додаткової одиниці', 'Метод ВМВ', 'СТ 55',
       'Фактурна вартість, USD/1кг', 'Митна вартiсть, грн', 'МВ дол США',
       'Розрахункова МВ, USD/1ШТ', 'контракт', 'Контейнер',
       'Вид тр-та до кордону', 'Вид тр-та на кордоні', 'Тр на кордоні',
       'Ставка мита', 'преференц мито', 'Процедура', 'Митниця на кордоні',
       'Довідка ВКМВ', 'Дaта', 'курс $', 'курс Евро',
       'ЕДРОПОУ Контрактодержатель', 'Контрактодержатель', 'ИНН Брокера',
       'Брокер', '_1']
data_list = [pd.DataFrame(columns=col_names) for i in range(1, 13)]

## Procesing months 4, 6, 7, 8

In [6]:
# read months with normal structure
for m in [4, 6, 7, 8]:
    file_path = file_list[m - 1]
    data_list[m - 1] = pd.read_excel(file_path, sheet_name=0, 
                    dtype=str,
                    skiprows=0,
                    header=[0])

## Procesing month 1

In [7]:
# read 1st month
m = 1
file_path = file_list[m - 1]
df_temp = pd.read_excel(file_path, sheet_name=0, 
                dtype=str,
                skiprows=0,
                header=[0])

In [8]:
df_temp["blanc"] = ""

In [9]:
df_temp["Опис товару"] = df_temp["Опис товару1"] + df_temp["Опис товару2"].fillna("")
df_temp["Опис товару"]

0         1. Добрива мінеральні, азотні: сульфатамонію к...
1         1. Добрива мінеральні або хімічні,азотні: Azot...
2         1.Етикетки самоклейні з однієї сторони, у руло...
3         1.Етикетки самоклейні з однієї сторони, у руло...
4         1.Автомобіль легковий з двигуном внутрішнього ...
                                ...
577204    1. Змінні фільтрувальні картриджі,складаються ...
577205    1. Змінні фільтрувальні картриджі,складаються ...
577206    1. Радіонавігаціїний прилад для контролютраект...
577207    1. Радіонавігаціїний прилад для контролютраект...
577208    1. Проводи ізольовані оснащенізєднувальними пр...
Name: Опис товару, Length: 577209, dtype: object

In [10]:
#df_temp.info()

In [11]:
col_id = [-1, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 46, 30, 
          20, 21, 22, 19, 23, 24, 25, 26, 27, 28, 29, -1, -1, 33, 34, 35, 36, 
          37,38, 39, 40, 41, 42, 43, 44, -1, -1, -1, -1, -1] 
len(col_id)

50

In [ ]:
# set proper column names
df_temp = df_temp.iloc[:, col_id]
df_temp.columns = col_names
df_temp

In [12]:
# save the result to first month
data_list[0] = df_temp.iloc[:, col_id]

In [13]:
df_temp.iloc[:, [16,17]][df_temp["Опис товару2"].notnull()]

,Опис товару1,Опис товару2
13,1.Поліефіри прості: торг.назва Laromer® LR 886...,ться як компонент при виробництві покриттів та...
14,1. Готові харчові вироби:Продукти дитячого хар...,"концентрований, сік чорної смородини концентр..."
61,"1. Електронні випаровувачі, які використовують...","смак: Raspberry Yogurt, батарейка: 850 mAh, об..."
110,"1.ВЗУТТЯ НА ПІДОШВІ З ГУМИ, ПЛАСТМАСИ ТА ВЕРХО...","д: 100% ПОЛІЕСТЕР, підошва: 100% ТЕРМОПЛАСТИКО..."
116,"1.ВЗУТТЯ НА ПІДОШВІ З ГУМИ, ПЛАСТМАСИ ТА З ВЕР...","РА, підошва: 100% ГУМАТорговельна марка ZARAВи..."
...,...,...
576635,"1.Стабілізатори системи підвіскиавтомобілів, н...",-13шт. арт. 19164 стійка стабілізатора -20шт....
576636,"1.Частини кермового механізмуавтомобілів, нові...",4 кермова тяга -2шт. арт. 19211 кермова тяга -...
576799,"1. Вироби з чорного металу штамповані,для циві...",т. Толщинне прокладення 238141A2-20шт. Толщинн...
577082,1.Вироби медичного призначення з нанесеним від...,"pcs, size S(5-6) (уп.по100шт.)-200шт. ZARYS-RN..."
577201,"1. Змінні фільтрувальні картриджі,складаються ...",20шт. Елемент фільтру паливного 6650457140-40ш...

In [ ]:
col_id_all =[
  #1
  [-1, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 46, 30, 20, 21, 22, 19, 23, 24, 25, 26, 27, 28, 29, -1, -1, 33, 34, 35, 36, 37,38, 39, 40, 41, 42, 43, 44, -1, -1, -1, -1, -1],
  #2 
  [-1, -1, -1, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45],
  #3
  [-1, -1, 1, 2, 4, -1, 5, 6, -1, -1, -1, -1, -1, -1, 2, -1, 8, -1, 9, -1, 12, 15, 16, -1, 13, 14, -1, -1, -1, -1, -1, -1, 20,-1, -1, -1, -1, -1, -1, -1, -1, -1, 3, -1, -1, -1, -1, -1, -1, -1],
  #4
  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
  #5
  [-1, -1, -1, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45],
  #6
  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
  #7
  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
  #8
  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
  #9

  #10
  
  #11
  [-1, -1, 1, 2, 4, -1, 5, 6, -1, -1, -1, -1, -1, -1, 2, -1, 8, -1, 9, -1, 12, 15, 16, -1, 13, 14, -1, -1, -1, -1, -1, -1, 20,-1, -1, -1, -1, -1, -1, -1, -1, -1, 3, -1, -1, -1, -1, -1, -1, -1],
  #12
  [-1, -1, 1, 2, 4, -1, 5, 6, -1, -1, -1, -1, -1, -1, 2, -1, 8, -1, 9, -1, 12, 15, 16, -1, 13, 14, -1, -1, -1, -1, -1, -1, 20,-1, -1, -1, -1, -1, -1, -1, -1, -1, 3, -1, -1, -1, -1, -1, -1, -1]
]

In [ ]:
def read_data(m, col_id, data_list, col_names):
    file_path = file_list[m - 1]
    df_temp = pd.read_excel(file_path, sheet_name=0, 
                    dtype=str,
                    skiprows=0,
                    header=[0])
    df_temp["blanc"] = ""
    df_temp = df_temp.iloc[:, col_id]
    df_temp.columns = col_names
    data_list[m-1] = df_temp

In [23]:
file_path = file_list[3]
df_temp = pd.read_excel(file_path, sheet_name=0, 
                   dtype=str,
                #    names=["date", "custom_id", "doc_id", "row_id", "code", "discription", "custom", 
                #           "edrpou_seller", "seller", "edrpou_ukr", "ukr_side", 
                #           "country", "buyer", "buyer_2", "base", 
                #           "transport_ukr", "transport_custom", "units", "amount",
                #           "weight", "doc_price_usd", "custom_price_usd", 
                #           "doc_type", "regime"],
                   skiprows=0,
                   header=[0])

In [24]:
df_temp.head(2)

,Column1,Системный номер,Тип ВМД,Митниця,Відправник,Відправник 2,ОКПЕО Одержувач,Одержувач,Адресa Одержувача,ОКПЕО Декларанта,...,Митниця на кордоні,Довідка ВКМВ,Дaта,курс $,курс Евро,ЕДРОПОУ Контрактодержатель,Контрактодержатель,ИНН Брокера,Брокер,_1
0,NaN,577210,ІМ/40/АА,209,TM MANUFACTURING INC 600 MARKLEY STREET 07064 ...,TM MANUFACTURING INC 1709 BELL ROAD FORT GIBSO...,3065716756,ФОП БАРСЬКИЙ АНАТОЛІЙ ЯКОВИЧВУЛ ЖУТІВСЬКА БУД ...,,33951294,...,,,,293,,3065716756,ФОП БАРСЬКИЙ АНАТОЛІЙ ЯКОВИЧВУЛ ЖУТІВСЬКА БУД ...,3328515243,БАЛАКАН Ю А 380632255419,NaN
1,NaN,577211,ІМ/40/ДЕ,209,VITA FRUIT SP Z O O UL DYNOWSKA 60 37 200 PRZE...,,43584554,ТОВ ФРУКТАТРЕЙД 79058 М ЛЬВІВ ВУЛ ХУТОРІВКА БУ...,,43584554,...,UA209030,,,293,,43584554,ТОВ ФРУКТАТРЕЙД 79058 М ЛЬВІВ ВУЛ ХУТОРІВКА БУ...,3008918852,МИРОШНИЧЕНКО А О 380674242596,NaN

In [ ]:
df = pd.DataFrame()
for file_path in file_list[0:2]:
    df_temp = pd.read_excel(file_path, sheet_name=0, 
                   dtype=str,
                   names=["date", "custom_id", "doc_id", "row_id", "code", "discription", "custom", 
                          "edrpou_seller", "seller", "edrpou_ukr", "ukr_side", 
                          "country", "buyer", "buyer_2", "base", 
                          "transport_ukr", "transport_custom", "units", "amount",
                          "weight", "doc_price_usd", "custom_price_usd", 
                          "doc_type", "regime"],
                   header=None,
                   skiprows=1)
    df = pd.concat([df, df_temp], axis=0)

In [ ]:
df.shape

(359533, 24)

In [ ]:
#df["row_id"] = df["row_id"].astype(int)
#df["base"] = df["base"].astype(int)

df["amount"] = df["amount"].astype(float)
df["weight"] = df["weight"].astype(float)
df["doc_price_usd"] = df["doc_price_usd"].astype(float)
df["custom_price_usd"] = df["custom_price_usd"].astype(float)

In [ ]:
df[df["base"] == ' 66690173, 68685940, 68789940']

Empty DataFrame
Columns: [date, custom_id, doc_id, row_id, code, discription, custom, edrpou_seller, seller, edrpou_ukr, ukr_side, country, buyer, buyer_2, base, transport_ukr, transport_custom, units, amount, weight, doc_price_usd, custom_price_usd, doc_type, regime]
Index: []

[0 rows x 24 columns]

In [ ]:
df["date"] = df["date"].str[0:10]
df["date"]

0         2022-01-01
1         2022-01-01
2         2022-01-01
3         2022-01-01
4         2022-01-01
             ...
184979    30.02.2022
184980    30.02.2022
184981    30.02.2022
184982    30.02.2022
184983    30.02.2022
Name: date, Length: 359533, dtype: object

In [ ]:
#df.dtypes=[str, str, str, str, int, str, str, str, str, str, str, str, str, str, str, int, str, str, str, int, float, float, float, str, str]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 359533 entries, 0 to 184983
Data columns (total 24 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   date              359533 non-null  object
 1   custom_id         359533 non-null  object
 2   doc_id            359533 non-null  object
 3   row_id            359533 non-null  object
 4   code              359533 non-null  object
 5   discription       359533 non-null  object
 6   custom            359533 non-null  object
 7   edrpou_seller     359533 non-null  object
 8   seller            359533 non-null  object
 9   edrpou_ukr        359533 non-null  object
 10  ukr_side          359533 non-null  object
 11  country           359533 non-null  object
 12  buyer             347024 non-null  object
 13  buyer_2           81268 non-null   object
 14  base              359533 non-null  object
 15  transport_ukr     359533 non-null  object
 16  transport_custom  359533 non-null  object
 17  units             359533 non-null  object
 18  amount            359533 non-null  float64
 19  weight            359533 non-null  float64
 20  doc_price_usd     359533 non-null  float64
 21  custom_price_usd  359533 non-null  float64
 22  doc_type          359533 non-null  object
 23  regime            359533 non-null  object
dtypes: float64(4), object(20)
memory usage: 68.6+ MB

In [ ]:
df["amount"].nunique()
df["amount"].astype(float)

0           0.0
1           0.0
2           0.0
3         240.0
4         120.0
          ...
184979      0.0
184980      0.0
184981      0.0
184982      0.0
184983      0.0
Name: amount, Length: 359533, dtype: float64

In [ ]:
df["base"].unique()
#df[df["base"] == "0"]
df["base"].value_counts()

0                       43471
CPT MD CHISINAU         25466
FCA UA КИЇВ             10356
FCA UA KYIV              5070
FCA UA ОДЕСА             4987
                        ...
CPT CH ARZIER               1
CPT FI ESPOO FINLAND        1
CPT AE ABU DHABI UAE        1
DAP PL ГДИНЯ                1
CPT AZ СТ СУМГАИТ           1
Name: base, Length: 16868, dtype: int64

In [ ]:
df.head(1)

,date,custom_id,doc_id,row_id,code,discription,custom,edrpou_seller,seller,edrpou_ukr,...,base,transport_ukr,transport_custom,units,amount,weight,doc_price_usd,custom_price_usd,doc_type,regime
0,2022-01-01,UA100020,546681,1,209101900,"СВИНЯЧИЙ ЖИР, ЯКИЙ ВІДОКРЕМЛЕНИЙ ВІД ПІСНОГО М...",КИЇВСЬКА МИТНИЦЯ,40853445,ТОВ ДИМНЕ М ЯСО ВІД ТАРАСА 01042 М КИЇВ ВУЛ ЧИ...,40853445,...,0,НЕВІДОМИЙ,ВАНТАЖНИЙ АВТОМОБІЛЬ,КГ,0.0,3.75,33.31,30.0,АА,ЕХ 72 00

In [ ]:
#df.iloc[0]

In [ ]:
df.shape

(359533, 24)

In [ ]:
code_path = "D:/projects/export_import/data/codes/euro_codes.csv"

In [ ]:
df_codes = pd.read_csv(code_path, dtype=str)
df_codes

    codes
0    2401
1    2402
2    2403
3    0901
4    0902
..    ...
99   8215
100  3105
101  3405
102  9503
103  9504

[104 rows x 1 columns]

In [ ]:
df["codes"] = df["code"]
#df.head(2)

In [ ]:
codes = df.iloc[:,4].unique()
codes

array(['209101900', '209101100', '2201101100', ..., '7304599990',
       '3823130000', '2853901000'], dtype=object)

In [ ]:
# Перебираємо коди із списку обраних і знаходимо відповідності в базі кодів
any([codes[0].startswith(c) for c in df_codes.codes])

False

In [ ]:
df["use_code"] = df.codes.map(lambda x: any([x.startswith(c) for c in df_codes.codes]))
#df[df["use_code"]]

In [ ]:
# Загружаємо дані про курси валют
data_path + "Kurs_dovid.csv"

'D:/projects/export_import/data/Kurs_dovid.csv'

In [ ]:
df_rates = pd.read_csv(data_path + "Kurs_dovid.csv")
df_rates

           date     rate
0    01.01.2022  27.2984
1    02.01.2022  27.2984
2    03.01.2022  27.2984
3    04.01.2022  27.2984
4    05.01.2022  27.4507
..          ...      ...
360  27.12.2022  36.5686
361  28.12.2022  36.5686
362  29.12.2022  36.5686
363  30.12.2022  36.5686
364  31.12.2022  36.5686

[365 rows x 2 columns]

In [ ]:
# Конвертуємо дату в таблиці курсів валют у формат відповідний до основного дата фрейму
df_rates["date"] = df_rates["date"].map(lambda x: datetime.strptime(x, "%d.%m.%Y").strftime("%Y-%m-%d"))
df_rates.head()

         date     rate
0  2022-01-01  27.2984
1  2022-01-02  27.2984
2  2022-01-03  27.2984
3  2022-01-04  27.2984
4  2022-01-05  27.4507

In [ ]:
# Об"єднуємо дата фрейми
df = pd.merge(df, df_rates, on="date", how="left")
#df.head(2)

In [ ]:
# Конвертуємо в грн по курсу НБУ
df["custom_price_uah"] = round(df["custom_price_usd"]*df["rate"], 2)
df["doc_price_uah"] = round(df["doc_price_usd"]*df["rate"], 2)

In [ ]:
#df.head(2)

In [ ]:
df.sample(n=100).to_csv(path_or_buf=data_path + "export_sample.csv", header=True, sep=",", index=False)

# Import

In [ ]:
#folder = "import/"
file_list = glob.glob(data_path + folder + "/*/*")
file_list

['D:/projects/export_import/data/import\\2022\\import 01-2022.xlsb',
 'D:/projects/export_import/data/import\\2022\\import 02-2022.xlsx',
 'D:/projects/export_import/data/import\\2022\\import 03-2022.xlsx',
 'D:/projects/export_import/data/import\\2022\\import 04-2022.xlsx',
 'D:/projects/export_import/data/import\\2022\\import 05-2022.xlsx',
 'D:/projects/export_import/data/import\\2022\\import 06-2022.xlsb',
 'D:/projects/export_import/data/import\\2022\\import 07-2022.xlsb',
 'D:/projects/export_import/data/import\\2022\\import 08-2022.xlsb',
 'D:/projects/export_import/data/import\\2022\\import 09-2022.xlsx',
 'D:/projects/export_import/data/import\\2022\\import 10-2022.xlsx',
 'D:/projects/export_import/data/import\\2022\\import 11-2022.xlsx',
 'D:/projects/export_import/data/import\\2022\\~$import 01-2022.xlsb']

In [ ]:
df_i = pd.DataFrame()
for file_path in file_list:
    df_temp = pd.read_excel(file_path, sheet_name=0, 
                   dtype=str,
                   names=["date", "custom_id", "doc_id", "row_id", "code", "discription", "custom", 
                          "edrpou_seller", "seller", "edrpou_ukr", "ukr_side", 
                          "country", "buyer", "buyer_2", "base", 
                          "transport_ukr", "transport_custom", "units", "amount",
                          "weight", "doc_price_usd", "custom_price_usd", 
                          "doc_type", "regime"],
                   header=None,
                   skiprows=1)
    df_i = pd.concat([df_i, df_temp], axis=0)