<a href="https://colab.research.google.com/github/Susanna-Salata/export_import/blob/main/Export_Import_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
!pip install pandas openpyxl

Requirement already satisfied: pandas in c:\users\susan\appdata\local\programs\python\python39\lib\site-packages (1.4.3)
Collecting openpyxl
  Downloading openpyxl-3.0.10-py2.py3-none-any.whl (242 kB)
     -------------------------------------- 242.1/242.1 KB 2.1 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.18.5 in c:\users\susan\appdata\local\programs\python\python39\lib\site-packages (from pandas) (1.23.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\susan\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\susan\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2022.1)
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Requirement already satisfied: six>=1.5 in c:\users\susan\appdata\local\programs\python\python39\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.10

WARNING: You are using pip version 22.0.4; however, version 22.3.1 is available.
You should consider upgrading via the 'C:\Users\susan\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

In [11]:
import pandas as pd
import numpy as np
import glob

In [13]:
data_path = "D:/projects/export_import/data/"
folder = "export/"

In [17]:
file_list = glob.glob(data_path + folder + "/*/*")
file_list

['D:/projects/export_import/data/export\\2022\\export-01-2022.xlsx',
 'D:/projects/export_import/data/export\\2022\\export-02-2022.xlsx',
 'D:/projects/export_import/data/export\\2022\\export-03-2022.xlsx',
 'D:/projects/export_import/data/export\\2022\\export-04-2022.xlsx',
 'D:/projects/export_import/data/export\\2022\\export-05-2022.xlsx',
 'D:/projects/export_import/data/export\\2022\\export-06-2022.xlsx',
 'D:/projects/export_import/data/export\\2022\\export-07-2022.xlsx',
 'D:/projects/export_import/data/export\\2022\\export-08-2022.xlsb',
 'D:/projects/export_import/data/export\\2022\\export-09-2022.xlsx',
 'D:/projects/export_import/data/export\\2022\\export-10-2022.xlsx',
 'D:/projects/export_import/data/export\\2022\\export-11-2022.xlsx']

In [35]:
file_path = file_list[0]
df = pd.read_excel(file_path, sheet_name=0, dtype=str)

In [20]:
df.shape

(174549, 24)

In [21]:
code_path = "D:/projects/export_import/data/codes/euro_codes.csv"

In [24]:
df_codes = pd.read_csv(code_path, dtype=str)
df_codes

    codes
0    2401
1    2402
2    2403
3    0901
4    0902
..    ...
99   8215
100  3105
101  3405
102  9503
103  9504

[104 rows x 1 columns]

In [57]:
df["codes"] = df["Код товара"]
#df.head(2)

In [43]:
codes = df.iloc[:,4].unique()
codes

array(['209101900', '209101100', '2201101100', ..., '805102800',
       '8414592591', '8453900000'], dtype=object)

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 174549 entries, 0 to 174548
Data columns (total 24 columns):
 #   Column                                              Non-Null Count   Dtype
---  ------                                              --------------   -----
 0   Дата                                                174549 non-null  object
 1   Код тамож. органа                                   174549 non-null  object
 2   № ГТД                                               174549 non-null  object
 3   № товара                                            174549 non-null  object
 4   Код товара                                          174549 non-null  object
 5   Описание товара по УКТ ЗЕД                          174549 non-null  object
 6   Таможня оформления                                  174549 non-null  object
 7   Код ЕДРОПУ отправителя                              174549 non-null  object
 8   Название отправителя и адрес                        174549 non-null  object
 9   Код ЕДРПОУ укр. Контракто-держателя                 174549 non-null  object
 10  Название и адрес укр. контрактодержателя            174549 non-null  object
 11  Страна назначения                                   174549 non-null  object
 12  Иностр. получатель/ контрактодержатель              168179 non-null  object
 13  Иностран. контрактодежатель (обратная сторона ГТД)  40232 non-null   object
 14  Базис поставки                                      174549 non-null  object
 15  Транспорт на границе                                174549 non-null  object
 16  Транспорт в Украине                                 174549 non-null  object
 17  Ед.измер.                                           174549 non-null  object
 18  Кол-во в доп.ед.                                    174549 non-null  object
 19  Вес нетто, кг                                       174549 non-null  object
 20  Фактурная стоимость, дол.                           174549 non-null  object
 21  Таможенная стоимость, дол.                          174549 non-null  object
 22  Тип декларации                                      174549 non-null  object
 23  Режим                                               174549 non-null  object
dtypes: object(24)
memory usage: 32.0+ MB

In [45]:
len(codes)

5521

In [46]:
codes[0].startswith("2401")

False

In [47]:
# Перебираємо коди із списку обраних і знаходимо відповідності в базі кодів
any([codes[0].startswith(c) for c in df_codes.codes])

False

In [56]:
df["use_code"] = df.codes.map(lambda x: any([x.startswith(c) for c in df_codes.codes]))
#df[df["use_code"]]

In [49]:
df["use_code"] = df_codes.codes.map(lambda x: any([x.startswith(c) for c in df_codes.codes]))

    codes   use
0    2401  True
1    2402  True
2    2403  True
3    0901  True
4    0902  True
..    ...   ...
99   8215  True
100  3105  True
101  3405  True
102  9503  True
103  9504  True

[104 rows x 2 columns]